<%= render 'shared/errors', object: @team %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :users, 'Members' %>
  <%= f.collection_check_boxes :user_ids, User.order('LOWER(name)'), :id, :name do |b| %>
    <div class="form-check">
      <%= b.label(class: "form-check-label") do %>
        <%= b.check_box(multiple: true, class: "form-check-input") %> <%= b.text %>
      <% end %>
    </div>
  <% end %>
</div>