<div class="table-responsive mt-4">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Goal</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Effort Considered</th>
        <th>Current Velocity</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% object.each do |sprint| %>
        <tr>
          <td><b><%= link_to sprint.name, sprint_path(sprint) %></b></td>
          <td><%= sprint.start_date.to_date.to_formatted_s(:long)  %></td>
          <td><%= sprint.end_date.to_date.to_formatted_s(:long)  %></td>
          <td><%= sprint.total_estimated_effort %></td>
          <td><%= sprint.velocity %></td>
          <td>
            <%= goal_status(sprint) %>
            <%= velocity_status(sprint) %>
          </td>
        </tr>
        <tr>
          <td colspan="7" style="border-top: none">
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-<%= progress_status(sprint) %>" 
                   style="width: <%= sprint.velocity.to_f / sprint.total_estimated_effort.to_f * 100.0 if sprint.total_estimated_effort != 0 %>%" 
                   role="progressbar" 
                   aria-valuenow="<%= sprint.velocity %>" 
                   aria-valuemin="0" 
                   aria-valuemax="<%= sprint.total_estimated_effort %>">
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
