<div class="row mt-4">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Departments", departments_path %></li>
        <li class="breadcrumb-item"><%= link_to @team.department.name, department_path(@team.department) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @team.name %></li>
      </ol>
    </nav>
  </div>
  <div class="col-sm-auto text-right mb-3 order-last order-md-6">
    <% @team.users.each do |user| %>
      <%= link_to user_path(user) do %>
        <%= image_tag JSON.parse(user.source)["avatar_url"], class: "rounded", style: "width: 3rem" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-2 text-right order-md-last mb-3">
    <%= link_to 'New Sprint', new_team_sprint_path(@team), class: 'btn btn-success btn-lg btn-block' %>
  </div>
</div>

<div style="position: relative; height:40vh; width:100%" class="mb-4">
  <canvas id="teamVelocity"></canvas>
</div>

<%= hidden_field_tag :velocity_values, velocity(@completed_sprints), data: { behavior: :velocity_values } %>
<%= hidden_field_tag :happiness_values, happiness_values(@happiness), data: { behavior: :happiness_values } %>
<%= hidden_field_tag :no_of_members_per_sprint, no_of_members_per_sprint(@completed_sprints), data: { behavior: :no_of_members_per_sprint } %>
<%= hidden_field_tag :velocity_per_person_per_day_per_sprint, velocity_per_person_per_day_per_sprint(@completed_sprints), data: { behavior: :velocity_per_person_per_day_per_sprint } %>

<%= render 'table', object: @sprints %>

<%= paginate @sprints, theme: 'twitter-bootstrap-4' %>

<%= javascript_pack_tag 'team_velocity' %>