<h1>Average time to close once estimated per project</h1>
<% @all_tickets.each do |project| %>
  <% project.each do |repo_name, repo_records| %>
    Repository: <%= repo_name %> | 
    No of tickets: <%= repo_records.fetch(:record_count) %><br/>
    <table class="table">
      <thead>
        <tr>
          <th>Ticket Size</th>
          <th>No of Tickets</th>
          <th>Mean Time to close once estimated</th>
        </tr>
      </thead>
      <tbody>
      <% repo_records.fetch(:repo_records).each do |effort, effort_records| %>
        <tr>
          <td><%= effort.to_i %></td>
          <td><%= effort_records.fetch(:record_count) %></td>
          <td><%= distance_of_time_in_words(effort_records.fetch(:time), 0, {include_seconds: true}) %></td>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
