<%= turbo_frame_tag "add_repeatable_stories" do %>
  <% if @repeatable_stories_page.first? && @repeatable_stories_page.records.empty? %>
    <p class="text-center text-secondary mt-2">
      <%= t('stories.index.no_repeatable_stories_yet') %>
    </p>
  <% end %>

  <%= render partial: "planned_stories/add_stories/story", collection: @repeatable_stories_page.records, locals: { commmit: @commmit } %>

  <%= turbo_frame_tag "add_repeatable_stories" do %>
    <% unless @repeatable_stories_page.last? %>
      <%= link_to "Load More", commmit_add_repeatable_stories_path(@commmit, page: @repeatable_stories_page.next_param), class: 'btn btn-lg btn-light btn-block mb-4' %>
    <% end %>
  <% end %>
<% end %> 