<% content_for :nav_header do %>
  <%= @commmit.name %>
<% end %> 

<%= javascript_tag do %>
  window.I18n = {};

  <% unless @commmit.finished? %>
    window.I18n.no_planned_stories_yet = <%=  t("commmits.planned_stories.index.no_planned_stories_yet").to_json.html_safe %>
    window.I18n.all_completed = <%= t("commmits.planned_stories.index.all_completed_html", 
                      add_stories_href: link_to(t('footer_nav.stories_button'), 
                                                '#', 
                                                data: { toggle: "modal", target: "#addStoriesModal" }),
                      reflect_href: link_to(t('commmits.planned_stories.index.reflect_message'),
                                            new_commmit_reflection_path(@commmit, redirect: true))
                      ).to_json.html_safe %>
  <% end %>
<% end %>

<div class="grid-topcontent">
  <%= render 'shared/progress', total_count: (@planned_stories.size + @completed_stories.size), completed_count: @completed_stories.size %>
</div>

<div class="grid-content">
  <% if @commmit.finished? %>
    <p class="text-center text-secondary mt-2"><%= t('commmits.planned_stories.index.finished') %></p>
  <% end %>
  
  <div class="card-deck" data-container="planned_stories">
    <p class="text-center text-secondary mt-2" data-planned-stories-target="message"></p>

    <%= turbo_frame_tag "planned_stories", data: { 'planned-stories_target': 'plannedStories'} do %>
      <%= render partial: 'planned_story', 
                 collection: @planned_stories, 
                 locals: { commmit: @commmit, reflecting: false } %>
    <% end %>

    <%= content_tag :div, class: 'divider', data: { 'planned-stories_target': 'doneDivider' } do %>
      <div class="dropdown-divider"></div>

      <small><%= t('commmits.planned_stories.index.done_divider') %></small>
      
      <div class="dropdown-divider"></div>
    <% end %>

    <%= turbo_frame_tag "completed_planned_stories", data: { 'planned-stories_target': 'completedStories'} do %>
      <%= render partial: 'planned_story', 
                 collection: @completed_stories, 
                 locals: { commmit: @commmit, reflecting: false } %>
    <% end %>

    <div class="page-actions">
      <% if @commmit.finished? %>
        <%= link_to commmit_reflection_path(@commmit), class: "btn btn-lg btn-primary btn-block" do %>
          <%= t('commmits.planned_stories.index.view_reflection')%> 
        <% end if @commmit.reflected? %>

        <%= link_to new_commmit_reflection_path(@commmit), class: "btn btn-lg btn-success btn-block" do %>
          <%= t('commmits.planned_stories.index.reflect') %> 
        <% end if !@commmit.reflected? %>
      <% end %>

      <%= button_tag class: "btn btn-lg btn-#{@commmit.finished? ? 'secondary' : 'primary' } btn-block", disabled: @commmit.reflected?, data: { toggle: "modal", target: "#addStoriesModal" } do %>
        <%= @commmit.reflected? ? t('commmits.planned_stories.index.finished') : t('commmits.planned_stories.index.add_stories') %> 
      <% end %>
    </div>
  </div>
</div>

<%= render 'planned_stories/add_stories/modal', one_off_stories_page: @one_off_stories_page, repeatable_stories_page: @repeatable_stories_page, commmit: @commmit %>