<% content_for :nav_header do %>
  <%= t('values.index.header') %>
<% end %> 

<div class="grid-content">
  <%= render 'create_value', story: @story %>
  
  <% @values.each do |value| %>
    <%= link_to edit_value_path(value) do %> 
      <span class="btn btn-block mb-2" style="background-color: <%= value.color %>">
        <span style="color: <%= value.color %>; filter: invert(100%); font-weight: 400">
          <%= value.name %>
        </span>
      </span>
    <% end %>
  <% end %>
</div>
