<% content_for :nav_header do %>
  <%= @commmit.name %>
<% end %> 

<% content_for :productivity do %>
  <%= @commmit.planned_stories.completed.size %>
<% end %> 

<div class="grid-topcontent">
  <%= render 'shared/progress', 
        total_count: @commmit.planned_stories.size, 
        completed_count: @commmit.planned_stories.completed.size %>
</div>

<div class="grid-content">
  <%= render 'shared/errors', object: @reflection %>

  <%= render 'commmit_goal', commmit: @commmit unless @commmit.goal_id.blank? %>

  <%= render 'results', commmit: @commmit %>

  <%= render 'form' %>
</div>

<% content_for(:hide_footer_nav?) do %>
  true
<% end %>