<% content_for :nav_header do %>
  <%= @commmit.name %>
<% end %> 

<div class="grid-content">
  <%= render 'results', commmit: @commmit %>

  <div class="mb-5">
    <h6 class="text-center mb-3"><%= t('commmits.reflection.form.goal_met.label') %></h6>
    <p class="text-center">'<%= @commmit.name %>'</p>

    <div class="btn-group btn-group-toggle w-100" role="group" aria-label="Commmit Goal Met?">
      <label class="btn btn-secondary <%= 'active' if @reflection.goal_met %> btn-colored_toggle w-50" for="goal_met_true">
        Yes
      </label>

      <label class="btn btn-secondary <%= 'active' unless @reflection.goal_met %> btn-colored_toggle w-50" for="goal_met_false">
        No
      </label>
    </div>
  </div>
  
  <h6 class="text-center mb-3"> <%= label_tag t('commmits.reflection.form.happiness.label') %></h6>
  
  <div class="reflection__happiness mb-5">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#8d8d8d" class="bi bi-emoji-angry <%= 'active' if @reflection&.happiness == 1 %>" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zm6.991-8.38a.5.5 0 1 1 .448.894l-1.009.504c.176.27.285.64.285 1.049 0 .828-.448 1.5-1 1.5s-1-.672-1-1.5c0-.247.04-.48.11-.686a.502.502 0 0 1 .166-.761l2-1zm-6.552 0a.5.5 0 0 0-.448.894l1.009.504A1.94 1.94 0 0 0 5 6.5C5 7.328 5.448 8 6 8s1-.672 1-1.5c0-.247-.04-.48-.11-.686a.502.502 0 0 0-.166-.761l-2-1z"/>
    </svg>

    <hr class="reflection__happiness_rule"/>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#8d8d8d" class="bi bi-emoji-frown <%= 'active' if @reflection&.happiness == 2 %>" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
    </svg>

    <hr class="reflection__happiness_rule"/>

    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#8d8d8d" class="bi bi-emoji-neutral <%= 'active' if @reflection&.happiness == 3 %>" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z"/>
    </svg>

    <hr class="reflection__happiness_rule"/>

    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#8d8d8d" class="bi bi-emoji-smile <%= 'active' if @reflection&.happiness == 4 %>" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
    </svg>

    <hr class="reflection__happiness_rule"/>

    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#8d8d8d" class="bi bi-emoji-sunglasses <%= 'active' if @reflection&.happiness == 5 %>" viewBox="0 0 16 16">
      <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8h6a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
    </svg>
  </div>

  <div class="mb-5">
    <h6 class="text-center mb-3"> <%= t('commmits.reflection.form.notes.label') %></h6>

    <p><%= @reflection&.notes %></p>
  </div>

  <div class="page-actions">
    <%= link_to new_commmit_path, class: "btn btn-lg btn-primary btn-block" do %>
      <%= t('commmits.index.new_commmit') %>
    <% end %>
  </div>
</div>