<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Users", users_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.name %></li>
  </ol>
</nav>

<h2><%= link_to @user.team.name, team_path(@user.team) %></h2>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th>Title</th>
      <th>Estimated Effort</th>
      <th>Effort Spent</th>
      <th>Date Closed</th>
      <th>Assigned to</th>
      <th>Repo</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
  <% @user.sprint_tickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.title, ticket.url %></td>
      <td><%= ticket.estimated_effort %></td>
      <td><%= ticket.effort_spent %></td>
      <td><%= ticket.closed_at_formatted %></td>
      <td><%= !ticket.users.empty? ? generate_user_links(ticket.users) : "Unassigned" %></td>
      <td><%= ticket.repository_name %></td>
      <td><%= ticket.notes %>
    </tr>
  <% end %>
  </tbody>
</table>
