<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Users", users_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.name %></li>
  </ol>
</nav>

<h2><%= link_to @user.team.name, team_path(@user.team) %></h2>
<%= render 'tickets/table', object: @user.tickets %>