<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Members", users_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @user.name %></li>
  </ol>
</nav>
<div style="position: relative; height:40vh; width:100%" class="mb-4">
  <canvas id="happiness"></canvas>
</div>
<%= hidden_field_tag :happiness_values, @happiness_values, data: { behavior: :happiness_values } %>
<div class="table-responsive mt-4">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Role Happiness</th>
        <th>Team Happiness</th>
        <th>Company Happiness</th>
        <th>Feedback</th>
        <th>Happiness Goal</th>
      </tr>
    </thead>
    <tbody>
      <% @retrospectives.each do |retrospective| %>
        <tr>
          <td><%= link_to retrospective.created_at.strftime('%d %b, %Y'), sprint_path(retrospective.sprint)  %></td>
          <td><%= retrospective.role_happiness  %></td>
          <td><%= retrospective.team_happiness  %></td>
          <td><%= retrospective.company_happiness %></td>
          <td><%= retrospective.feedback %></td>
          <td><%= retrospective.happiness_goal %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_pack_tag 'happiness_graph' %>