<div class="grid-content">
  <% content_for :nav_header do %>
    <%= t('passwords.new.header') %>
  <% end %> 

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: { turbo: false }, html: { method: :post, class: "flex-form" }) do |f| %>
    <div class="form-content">
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
      </div>
      <%= render "devise/shared/links" %>
    </div>

    <div class="form-group form-actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-success btn-lg btn-block"%>
    </div>
  <% end %>

</div>