<div class="btn-group btn-group-lg footer-navigation" role="group" aria-label="Footer Navigation">
  <%= link_to commmits_path, class: "btn btn-secondary #{active("commmits")} w-50", type: :button do %>
    <div class="footer-navigation__buttons">
      <img src="/android-chrome-512x512-white.png" width="20" height="20" alt="">
      <small><%= t('footer_nav.left_button') %></small>
    </div>
  <% end %>
  <%= link_to stories_path, class: "btn btn-secondary #{active("stories")} w-50", type: :button do %>
    <div class="footer-navigation__buttons">
      <%= image_tag asset_pack_path('media/images/story_icon.svg') %>
      <small><%= t('footer_nav.right_button') %></small>
    </div>
  <% end %>
</div>