<%= form_for @department do |f| %>
  <div class="row mt-4 mb-4">
    <div class="col-sm-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
          <li class="breadcrumb-item"><%= link_to "Departments", departments_path %></li>
          <li class="breadcrumb-item active" aria-current="page">New Department</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-3">
      <%= f.submit class: 'btn btn-success btn-block btn-lg' %>
    </div>
  </div>
  <%= render "form", f: f %>
<% end %>
