<div class="row mt-4 mb-4">
  <div class="col-sm-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Departments", departments_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @department.name %></li>
      </ol>
    </nav>
  </div>
  <div class="col-sm-3">
    <%= link_to "Add Team", new_department_team_path(@department), class: 'btn btn-success btn-block btn-lg' %>
  </div>
</div>

<div style="position: relative; height:40vh; width:100%" class="mb-4">
  <canvas id="departmentVelocity"></canvas>
</div>
<%= hidden_field_tag :velocity_values, @sprints, data: { behavior: :velocity_values } %>

<p>Show velocity of each team and average</p>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>Team Name</th>
        <th>No. of Members</th>
      </tr>
    </thead>
    <tbody>
      <% @department.teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team_path(team) %></td>
          <td><%= team.users.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= javascript_pack_tag 'department_velocity' %>