<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-primary">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Date Closed</th>
        <th>Assigned to</th>
        <th>Labels</th>
        <th width="40%">Notes</th>
      </tr>
    </thead>
    <tbody>
    <% object.each do |ticket| %>
      <tr class="table-<%= ticket_status(ticket) %>">
        <td><b><%= ticket.number %></b></td>
        <td><b><%= link_to ticket.title, ticket.url %></b></td>
        <td><b><%= closed_at_formatted(ticket) %></b></td>
        <td><%= !ticket.users.empty? ? render(partial: 'users/link', collection: ticket.users, spacer_template: 'shared/comma') : "Unassigned" %></td>
        <td><%= labels(ticket) %></td>
        <td><%= text_area_tag :notes, ticket.notes, {class: 'form-control', data: {behavior: 'updateNote', id: ticket.id}} %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>