<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Sprints", sprints_path %></li>
    <li class="breadcrumb-item"><%= link_to @sprint.name, sprint_path(@sprint) %></li>
    <li class="breadcrumb-item active" aria-current="page">Manage</li>
  </ol>
</nav>

<%= form_for @sprint do |f| %>
  <h2>Holidays</h2>

  <%= f.fields_for :sprint_holidays do |h| %>
    <div class="form-group">
      <%= h.label h.object.user.name %>
      <%= h.text_field :days, class: "form-control" %>
    </div>
  <% end %>

  <h2>Tickets</h2>
  <%= select_tag :repositories, options_from_collection_for_select(Ticket.repositories, :repository_name, :repository_name), { class: "form-control", data: { behavior: 'repo-filter' } } %>
  <%= f.hidden_field :repository, value: 'shiftcommerce/shift-front-end-react' %>

  <div class="form-group">
    <%= f.select :ticket_ids, options_for_select(['one']), {}, { multiple: true, size: 20, class: "form-control", data: { behavior: 'available-tickets' } } %>
  </div>

  <%= f.submit class: "btn btn-success" %>  
<% end %>
