<%= hidden_field_tag :sprint_id, @sprint.id, data: {behavior: 'sprintId'}%>
<%= form_for @sprint do |f| %>
  <div class="row mt-4 mb-4">
    <div class="col-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
          <li class="breadcrumb-item"><%= link_to "Sprints", sprints_path %></li>
          <li class="breadcrumb-item"><%= link_to @sprint.name, sprint_path(@sprint) %></li>
          <li class="breadcrumb-item active" aria-current="page">Manage</li>
        </ol>
      </nav>
    </div>
    <div class="col-2">
      <%= f.submit class: "btn btn-success btn-block btn-lg" %>  
    </div>
  </div>
  <h2>Holidays</h2>

  <%= f.fields_for :sprint_holidays do |h| %>
    <div class="form-group">
      <%= h.label h.object.user.name %>
      <%= h.text_field :days, class: "form-control" %>
    </div>
  <% end %>
<% end %>
<hr class="mb-4" />
<h4>Assigned Tickets</h4>
<div class="form-group">
  <table class="table table-sm">
    <thead class="thead-light">
      <th>Title</th>
      <th>Repository</th>
      <th>Options</th>
    </thead>
    <tbody data-behavior="assignedTickets">
    <% @sprint_tickets.each do |ticket| %>
      <tr>
        <td>
          <%= link_to ticket.title, ticket.url %>
        </td>
        <td>
          <%= ticket.repository_name %>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" data-behavior="removeTicket" data-ticket-id="<%= ticket.issue_id %>">Remove</button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<hr class="mb-4" />
<%= paginate @tickets, theme: 'twitter-bootstrap-4' %>
<h4 class="mt-4">Available Tickets</h4>
<div class="form-group">
  <table class="table table-sm">
    <thead class="thead-light">
      <th>Title</th>
      <th>Repository</th>
      <th>Options</th>
    </thead>
    <tbody data-behavior="availableTickets">
    <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <%= link_to ticket.title, ticket.url %>
        </td>
        <td>
          <%= ticket.repository_name %>
        </td>
        <td>
          <button class="btn btn-success btn-sm btn-block" data-behavior="addTicket" data-ticket-id="<%= ticket.issue_id %>">Add</button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate @tickets, theme: 'twitter-bootstrap-4' %>


<%= javascript_include_tag 'sprints' %>
