<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Sprints", sprints_path %></li>
    <li class="breadcrumb-item"><%= link_to @sprint.name, sprint_path(@sprint) %></li>
    <li class="breadcrumb-item active" aria-current="page">Manage</li>
  </ol>
</nav>

<%= form_for @sprint do |f| %>
  <h2>Holidays</h2>

  <%= f.fields_for :sprint_holidays do |h| %>
    <div class="form-group">
      <%= h.label h.object.user.name %>
      <%= h.text_field :days, class: "form-control" %>
    </div>
  <% end %>
  <%= f.submit class: "btn btn-success" %>  
<% end %>

<h2>Assigned Tickets</h2>
<div class="form-group">
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Repository</th>
      <th>Options</th>
    </thead>
    <tbody data-behavior="assignedTickets">
    <% @sprint_tickets.each do |ticket| %>
      <tr>
        <td>
          <%= ticket.title %>
        </td>
        <td>
          <%= ticket.repository_name %>
        </td>
        <td>
          <span class="btn btn-danger" data-behavior="removeTicket" data-sprint-id="<%= @sprint.id %>" data-ticket-id="<%= ticket.issue_id %>">Remove</span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @tickets, theme: 'twitter-bootstrap-4' %>
<h2>Available Tickets</h2>
<div class="form-group">
  <table class="table">
    <thead>
      <th>Title</th>
      <th>Repository</th>
      <th>Options</th>
    </thead>
    <tbody data-behavior="availableTickets">
    <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <%= ticket.title %>
        </td>
        <td>
          <%= ticket.repository_name %>
        </td>
        <td>
          <span class="btn btn-success" data-behavior="addTicket" data-sprint-id="<%= @sprint.id %>" data-ticket-id="<%= ticket.issue_id %>">Add</span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate @tickets, theme: 'twitter-bootstrap-4' %>


<%= javascript_include_tag 'sprints' %>
