<h1>Manage <%= @sprint.name %> Sprint</h1>

<%= form_for @sprint do |f| %>
  <h2>Holidays</h2>

  <%= f.fields_for :sprint_holidays do |h| %>
    <div class="form-group">
      <%= h.label h.object.user.name %>
      <%= h.text_field :days, class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tickets %>
    <%= f.collection_select :tickets, Ticket.where(sprint_id: nil), :id, :title, { include_hidden: false }, 
                                           { multiple: true, size: 20, class: "form-control" } %>
  </div>

  <%= f.submit class: "btn btn-success" %>  
<% end %>