<div class="row mt-4 mb-4">
  <div class="col-md-8">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item"><%= link_to @sprint.team.name, team_path(@sprint.team) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @sprint.name %></li>
      </ol>
    </nav>
  </div>
  <% if !@sprint.closed_at %>
    <div class="col-sm-12 col-md-2 mb-3">
      <%= link_to 'Manage', manage_sprint_path(@sprint), class: "btn btn-warning btn-block btn-lg" %>
    </div>
    <div class="col-sm-12 col-md-2">
      <%= link_to 'Close Sprint', close_sprint_path(@sprint), { class: "btn btn-danger btn-block btn-lg", method: :delete, data: { confirm: 'Are you sure?' } } %>
    </div>
  <% else %>
    <div class="col-sm-12 col-md-4">
      <%= link_to 'Retrospective Feedback', sprint_retrospective_path(@sprint), class: "btn btn-success btn-block btn-lg" %>
    </div>
      
  <% end %>
</div>

<h2>Goal: <%= @sprint.name %></h2>
<span class="badge badge-secondary">Initial Considered Effort: <%= @sprint.total_estimated_effort %></span>
<span class="badge badge-success">Current Velocity: <%= @sprint.velocity %></span>
<input type="hidden" value="<%= @sprint.total_estimated_effort %>" data-behavior="effortAccountedFor" />
<input type="hidden" value="<%= @sprint.start_date.to_date %>" data-behavior="startDate" />
<input type="hidden" value="<%= @sprint.end_date.to_date %>" data-behavior="endDate" />
<input type="hidden" value="<%= effort_to_date(@sprint) %>" data-behavior="effortToDate" />
<input type="hidden" value="<%= @sprint.finish_by %>" data-behavior="finishBy" />

<div style="position: relative; height:40vh; width:100%" class="mb-4">
  <canvas id="myChart"></canvas>
</div>

<h4>Tickets <%= link_to 'Export to CSV', '#', class: "btn btn-info btn-sm float-right", data: { toggle: "modal", target: "#exportToCSV" } %></h4>
<%= render 'tickets', object: @sprint.sprint_tickets %>

<%= javascript_pack_tag 'sprint' %>

<div class="modal fade" id="exportToCSV" tabindex="-1" role="dialog" aria-labelledby="exportToCSVLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exportToCSVLabel">Export to CSV</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= link_to 'Generate CSV for current Sprint', '#', class: 'btn btn-lg btn-block btn-primary', data: { behavior: 'generateCSV' } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
