<div class="row mt-4 mb-4">
  <div class="col-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Sprints", sprints_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @sprint.name %></li>
      </ol>
    </nav>
  </div>
  <div class="col-3">
    <% if @sprint.in_progress? %>
      <%= link_to 'Manage', manage_sprint_path(@sprint), class: "btn btn-warning btn-lg" %>
      <%= link_to 'Close Sprint', close_sprint_path(@sprint), { class: "btn btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure?' } } %>
    <% end %>
  </div>
</div>

<input type="hidden" value="<%= @sprint.total_estimated_effort %>" data-behavior="effortAccountedFor" />
<input type="hidden" value="<%= @sprint.start_date.to_date %>" data-behavior="startDate" />
<input type="hidden" value="<%= @sprint.end_date.to_date %>" data-behavior="endDate" />
<input type="hidden" value="<%= @sprint.effort_to_date %>" data-behavior="effortToDate" />

<div style="position: relative; height:40vh; width:100%" class="mb-4">
  <canvas id="myChart"></canvas>
</div>

<h4>Tickets</h4>
<%= render 'tickets', object: @sprint.sprint_tickets %>

<%= javascript_pack_tag 'burndown' %>
