<h1><%= @sprint.name %></h1>

<h2>Available Effort: <%= @sprint.available_effort_after_review_time %> <%= link_to 'Manage', manage_sprint_path(@sprint), class: "btn btn-warning" %></h2>
<h2>Effort Account for: <%= @sprint.effort_accounted_for %></h2>
<%= render 'tickets/table', object: @sprint.tickets %>