<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Estimated Effort</th>
      <th>Actual Effort</th>
      <th>Date Merged</th>
      <th>Assigned to</th>
      <th>Repo</th>
      <th>Sprint</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :ticket do |f| %>
      <% object.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.title, ticket.url %></td>
          <td><%= ticket.estimated_effort %></td>
          <td><%= f.text_field :actual_effort, value: ticket.actual_effort, class: 'form-control', type: :number %></td>
          <td><%= ticket.closed_at %></td>
          <td><%= !ticket.users.empty? ? ticket.users.map { |user| link_to user.name, user_path(user) } : "Unassigned" %></td>
          <td><%= ticket.repository_name %></td>
          <td><%= link_to ticket.sprint.name, sprint_path(ticket.sprint) if ticket.sprint %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
