<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Estimated Effort</th>
      <th>Actual Effort</th>
      <th>Date Merged</th>
      <th>Assigned to</th>
      <th>Sprint</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <% object.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.estimated_effort %></td>
        <td><%= ticket.actual_effort %></td>
        <%# <td><%= ticket.closed_at.to_date.to_formatted_s(:long) %></td> %>
        <%# <td><%= ticket.user ? link_to(ticket.user.name, user_path(ticket.user)) : "Unassigned" %></td> %>
        <td><%= link_to ticket.sprint.name, sprint_path(ticket.sprint) if ticket.sprint %></td>
        <td>
          <%= link_to 'Edit', edit_ticket_path(ticket), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Manage', manage_ticket_path(ticket), class: "btn btn-success btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
