<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Estimated Effort</th>
      <th>Actual Effort</th>
      <th>Date Merged</th>
      <th>Assigned to</th>
      <th>Repo</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <%= form_for :ticket do |f| %>
      <% object.each do |ticket| %>
        <tr>
          <td><%= link_to ticket.title, ticket.url %></td>
          <td><%= ticket.estimated_effort %></td>
          <td><%= f.text_field :actual_effort, value: ticket.actual_effort, class: 'form-control', type: :number %></td>
          <td><%= ticket.closed_at_formatted %></td>
          <td><%= !ticket.users.empty? ? ticket.users.map { |user| link_to user.name, user_path(user) } : "Unassigned" %></td>
          <td><%= ticket.repository_name %></td>
          <td><%= link_to 'Add Note', 
                    sprint_sprint_ticket_path(object.first.sprint, ticket)
                      %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>