<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Tickets", tickets_path %></li>
    <li class="breadcrumb-item"><%= link_to @ticket.title, @ticket.url %></li>
    <li class="breadcrumb-item active" aria-current="page">Manage</li>
  </ol>
</nav>

<%= form_for @ticket do |f| %>
  <div class="form-group">
    <%= f.label :user, 'Assigned To' %>
    <%= f.collection_select(:user_id, @ticket.sprint.team.users.all, :id, :name, {prompt: true, required: true}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :actual_effort %>
    <%= f.text_field :actual_effort, type: :number, required: true, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-success" %>
<% end %>