<%= turbo_frame_tag dom_id(archived_story) do %>
  <div class="card" data-container="story">
    <div class="card-body card__flex">
      <div class="w-100">
        <h5 class="card--goal">
          <%= "#{t('stories.form.goal.label')} #{archived_story.goal}#{archived_story.reason.present? ? ',' : ''}" %>
        </h5>
        <% if archived_story.reason.present? %>
          <h6 class="card--reason">
            <%= t('stories.form.reason.label') %> <%= archived_story.reason %>.
          </h6>
        <% end %>
        <div class="mt-1">
          <%= render partial: 'values/value', collection: archived_story.values.filter{ |v| v.discarded_at.nil? } %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer__left">
        <%= image_tag '/images/icons/notes_icon.svg', class: 'mr-1 card-footer__icon.svg' if archived_story.notes.present? %>
        <%= image_tag '/images/icons/repeat_icon.svg', data: { test_id: 'repeat_icon' }, class: 'mr-1 card-footer__icon.svg' if archived_story.repeatable? %>
        <%= image_tag '/images/icons/cog_icon.svg', data: { test_id: 'automatically_add' }, class: 'mr-1 card-footer__icon.svg' if archived_story.automatic? %>
      </div>
      <div class="card-footer__right">
        <%= render 'shared/story_status', story: archived_story %>
        <%= button_to unarchive_story_path(archived_story),  
                      form_class: 'd-inline-block ml-1',
                      method: :patch,
                      class: 'link-button u-default-touch-area', 
                      name: 'unarchive_story' do %>
          <%= image_tag '/images/icons/unarchive_icon.svg' %> 
        <% end %>
      </div>
    </div>
  </div>
<% end %>