<%= label_tag :story, t('stories.form.story.label_html') %>

<%= f.label :goal, t('stories.form.goal.label'), class: 'sr-only' %>
<div class="form-group">
  <div class="input-group mb-2 mr-sm-2">

    <div class="input-group-prepend">
      <div class="input-group-text"><%= t('stories.form.goal.label') %> </div>
    </div>

    <%= f.text_field :goal, required: true,
                            autocomplete: 'off', 
                            autocapitalize: "none", 
                            placeholder: t('stories.form.goal.placeholder'), 
                            class: "form-control", 
                            autofocus: true %>

    <div class="input-group-append">
      <div class="input-group-text">,</div>
    </div>
  </div>

  <%= f.label :reason, t('stories.form.reason.label'), class: 'sr-only' %>
  <div class="input-group mb-2 mr-sm-2">

    <div class="input-group-prepend">
      <div class="input-group-text"><%= t('stories.form.reason.label') %> </div>
    </div>

    <%= f.text_field :reason, autocomplete: 'off', 
                              autocapitalize: "none", 
                              placeholder: t('stories.form.reason.placeholder'), 
                              class: "form-control" %>

    <div class="input-group-append">
      <div class="input-group-text">.</div>
    </div>

  </div>
</div>

<div class="form-group">
  <%= f.label :repeatable, t('stories.form.repeatable.label_html') %><br/>

  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
    <label class="btn btn-secondary <%= 'active' if !story&.repeatable %> w-50" for="story_repeatable_false">
      <%= f.radio_button :repeatable, false, data: { action: "stories#hideAutoAdd" } %>
      <%= t('stories.form.repeatable.once') %>
    </label>

    <label class="btn btn-secondary <%= 'active' if story&.repeatable %> w-50" for="story_repeatable_true">
      <%= f.radio_button :repeatable, true, data: { stories_target: "repeatable", action: "stories#showAutoAdd" }, checked: story&.repeatable %>
      <%= t('stories.form.repeatable.forever') %>
    </label>
  </div>

  <div class="mt-2" data-stories-target="autoAdd" style="display: none">
    <div class="form-check">
      <%= f.check_box :automatically_add, class: "form-check-input", data: { stories_target: 'autoAddCheckbox' } %>

      <%= f.label :automatically_add, class: "form-check-label" do %>
        <%= t('stories.form.automatically_add.label') %>
      <% end %>
    </div>
  </div>
</div>


<div class="form-group">
  <%= t('stories.form.values.label_html') %> <br/>
  <div class="values">
    <%= f.collection_check_boxes(:value_ids, Value.kept, :id, :name) do |b| %>
      <div class="form-check form-check-inline">
        <%= b.check_box class: 'form-check-input', checked: story&.values&.any? { |t| t.id == b.value } %>
        <%= b.label class: 'form-check-label mt-1' do %>
          <%= render 'values/value', value: b.object %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :notes, t('stories.form.notes.label') %> <%=  render 'shared/icons/notes_icon', classes: 'ml-1' %><br/>
  <%= f.text_area :notes, autocomplete: 'off', class: "form-control", rows: 5  %>
</div>

 