<div class="card" data-controller="navigate" data-action="click->navigate#navigate">
  <div class="card-body">
    <%= button_to story_path(story), method: :delete, class: 'link-button discard-link', data: { action: "click->navigate#stopPropagation" } do %>
      <%= render 'shared/icons/close_icon', classes: '' %> 
    <% end %>
    <h5 class="card--goal">
      <%= link_to "#{t('stories.form.goal.label')} #{story.goal}#{story.reason.present? ? ',' : ''}", 
                    edit_story_path(story), data: { navigate_target: :link } %>
    </h5>
    <% if story.reason.present? %>
      <h6 class="card--reason">
        <%= t('stories.form.reason.label') %> <%= story.reason %>.
      </h6>
    <% end %>
    <div>
      <%= render partial: 'tags/tag', collection: story.tags %>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer__left">
      <%= render 'shared/icons/notes_icon', classes: 'mr-1 card-footer__icon' if story.notes.present? %>
      <%= render 'shared/icons/repeat_icon', classes: 'mr-1 card-footer__icon' if story.repeatable? %>
    </div>
    <div class="card-footer__right">
      <small><i><%= t('stories.index.added') %> <%= time_ago_in_words(story.created_at) %> <%= t('stories.index.ago') %></i></small>
    </div>
  </div>
</div>