<div class="grid-content">
  <%= render 'shared/errors', object: @story %>
  <%= form_for @story, html: { class: 'flex-form', data: { turbo: false } } do |f| %>
    <div class="form-content" data-controller="stories">
      <%= render 'fields', f: f, story: @story %>
    </div>

    <div class="form-group form-actions">
      <%= f.submit t('stories.form.update'), class: "btn btn-lg btn-success btn-block" %>
      <%= link_to t('stories.form.cancel'), stories_path, class: "btn btn-lg btn-secondary btn-block" %>
    </div>
  <% end %>
</div>

<% content_for(:hide_footer_nav?) do %>
  true
<% end %>