<% content_for :nav_header do %>
  <%= t('footer_nav.stories_button') %>
<% end %> 

<div class="grid-content" data-test="stories-container" data-controller="swipe-between-tabs">
  <ul class="nav nav-pills nav-fill mb-2" id="storiesTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" 
          id="1" 
          data-toggle="tab" 
          href="#content-1" 
          role="tab" 
          aria-controls="1" 
          aria-selected="true">
          <%= t('stories.form.repeatable.once') %>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
          id="2" 
          data-toggle="tab" 
          href="#content-2" 
          role="tab" 
          aria-controls="2" 
          aria-selected="false">
        <%= image_tag '/images/icons/repeat_icon.svg', class: 'mr-2' %> 
        <%= t('stories.form.repeatable.forever') %>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="tabContent" data-controller="edit-story">
    <div  class="tab-pane fade show active" 
          id="content-1" 
          role="tabpanel"
          style="min-height: 75vh"
          data-container="one_off_stories"
          aria-labelledby="1">
      <%= render partial: 'shared/search_bar', locals: { path: 'one_off_stories' } %>
      <div class="card-deck">
        <%= turbo_stream_from current_tenant.id, :one_off_stories %>
        
        <div data-attributes="one_off_stories">
          <%= turbo_frame_tag "one_off_stories", src: one_off_stories_path do %>
            Loading...
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" 
        id="content-2" 
        role="tabpanel" 
        style="min-height: 75vh"
        data-container="repeatable_stories"
        aria-labelledby="2">
      <%= render partial: 'shared/search_bar', locals: { path: 'repeatable_stories' } %>
      <div class="card-deck">
        <%= turbo_stream_from current_tenant.id, :repeatable_stories %>
        
        <div data-attributes="repeatable_stories">
          <%= turbo_frame_tag "repeatable_stories", src: repeatable_stories_path, loading: :lazy do %>
            Loading...
          <% end %>
        </div>
      </div>
    </div>
    <div class="page-actions">
      <%= button_tag class: "btn btn-lg btn-primary btn-block", 
                     data: { 
                       toggle: "modal", 
                       target: "#newStoryModal", 
                       action: 'click->edit-story#resetForm' 
                     } do %>
        <%= t('stories.index.new_story') %> 
      <% end %>
    </div>

    <%= render 'stories/modal' %>
  </div>
</div>

