<% content_for :nav_header do %>
  <%= t('footer_nav.stories_button') %>
<% end %> 

<div class="grid-content">
  <ul class="nav nav-pills nav-fill mb-2" id="storiesTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" 
          id="<%= t('stories.form.repeatable.once') %>-tab" 
          data-toggle="tab" 
          href="#<%= t('stories.form.repeatable.once') %>" 
          role="tab" 
          aria-controls="home" 
          aria-selected="true">
          <%= t('stories.form.repeatable.once') %>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" 
          id="<%= t('stories.form.repeatable.forever').gsub(' ', '-') %>-tab" 
          data-toggle="tab" 
          href="#<%= t('stories.form.repeatable.forever').gsub(' ', '-') %>" 
          role="tab" 
          aria-controls="<%= t('stories.form.repeatable.forever') %>" 
          aria-selected="false">
        <%= render 'shared/icons/repeat_icon', classes: 'mr-2' %> 
        <%= t('stories.form.repeatable.forever') %>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="storiesTabContent">
    <div class="tab-pane fade show active" 
          id="<%= t('stories.form.repeatable.once') %>" 
          role="tabpanel"
          data-container="one_off_stories"
          aria-labelledby="<%= t('stories.form.repeatable.once') %>-tab">
      <% if @one_off_stories_page.first? && @one_off_stories_page.records.empty? %>
        <p class="text-center mt-4"><%= t('stories.index.no_stories_yet') %></p>
      <% end %>
      <div class="card-deck">
        <%= turbo_stream_from current_tenant.id, "one_off_stories-#{@one_off_stories_page.number}" %>
        <%= turbo_frame_tag "one_off_stories-#{@one_off_stories_page.number}" do %>
          <%= render partial: "story", collection: @one_off_stories_page.records %>
        <% end %>

        <%= turbo_frame_tag "one_off_stories-#{@one_off_stories_page.next_param}" do %>
          <% unless @one_off_stories_page.last? %>
            <%= link_to "Load More", stories_path(page: @one_off_stories_page.next_param), class: 'btn btn-lg btn-light btn-block mb-4' %>
          <% end %>
        <% end %>
      </div>

    <div class="tab-pane fade" 
        id="<%= t('stories.form.repeatable.forever').gsub(' ', '-') %>" 
        role="tabpanel" 
        data-container="repeatable_stories"
        aria-labelledby="<%= t('stories.form.repeatable.forever').gsub(' ', '-') %>-tab">
      <% if @repeatable_stories_page.first? && @repeatable_stories_page.records.empty? %>
        <p class="text-center mt-4"><%= t('stories.index.no_repeatable_stories_yet') %></p>
      <% end %>

      <div class="card-deck">
        <%= turbo_stream_from current_tenant.id, "repeatable_stories-#{@repeatable_stories_page.number}" %>
        <%= turbo_frame_tag "repeatable_stories-#{@repeatable_stories_page.number}" do %>
          <%= render partial: "story", collection: @repeatable_stories_page.records %>
        <% end %> 

        <%= turbo_frame_tag "repeatable_stories-#{@repeatable_stories_page.next_param}" do %>
          <% unless @repeatable_stories_page.last? %>
            <%= link_to "Load More", stories_path(page: @repeatable_stories_page.next_param), class: 'btn btn-lg btn-light btn-block mb-4' %>
          <% end %>
        <% end %>
      </div>
    <%= render "shared/actions", actions: [{ label: t('stories.index.new_story'), path: new_story_path }] %>
  </div>
</div>
