<%# TODO: If this is a one/two day commmit then show a progress bar, if it is more than two days, show a burndown chart %>
<div class="card <%= commmit.finished? ? "card--finished" : "" %>" data-controller="navigate" data-action="click->navigate#navigate">
  <%= render 'shared/progress', commmit: commmit %>

  <div class="card-body">
    <%= button_to commmit_path(commmit), method: :delete, class: 'link-button discard-link', data: { action: "click->navigate#stopPropagation" }, name: "archive_commmit" do %>
      <%= render 'shared/icons/close_icon', classes: '' %> 
    <% end %>
    <h5><%= link_to commmit.name, commmit_path(commmit), data: { navigate_target: :link }, class: 'font-weight-bold' %></h5>
  </div>
  <div class="card-footer">
    <div class="card-footer__left">
      <small><%= commmit.planned_stories.count %></small>
      <%= render 'shared/icons/story_icon', classes: 'ml-1' %> 
    </div>
    <div class="card-footer__right">
      <%= render 'status', commmit: commmit %>
      <%= render 'shared/icons/clock_icon', classes: 'ml-1' %>
    </div>
  </div>
</div>
