<div class="card <%= planned_story.completed? ? "card--finished" : "" %>">
  <div class="card-body">
    <%= button_to planned_story_path(planned_story), method: :delete, class: 'link-button discard-link', data: { action: "click->navigate#stopPropagation" } do %>
      <%= image_tag asset_pack_path('media/images/close_icon.svg') %> 
    <% end unless planned_story.completed? || commmit.finished? %>
    <h5>
      <b><%= t('stories.form.goal.label') %> <%= planned_story.story.goal %><% if planned_story.story.reason.present? %>,<% end %></b>
    </h5>
    <% if planned_story.story.reason.present? %><h6><%= t('stories.form.reason.label') %> <%= planned_story.story.reason %>.</h6><% end %>
  </div>
  <div class="card-footer">
    <div class="card-footer__left">
      <%= image_tag asset_pack_path('media/images/notes_icon.svg'), class: 'mr-1' if planned_story.story.notes.present? %>
    </div>
    <div class="card-footer__right">
      <% if planned_story.completed? %>
        <%= button_to t('commmits.show.reopen_story'), planned_story_mark_as_done_path(planned_story), class: 'btn btn-link', method: :patch, disabled: commmit.finished? %>
      <% else %>
        <%= button_to t('commmits.show.close_story'), planned_story_mark_as_done_path(planned_story), class: 'btn btn-link', method: :patch, disabled: commmit.finished? %>
      <% end %>  
    </div>
  </div>
</div>