<small data-controller="relative-time">
  <i>
    <% if commmit.finished? %>
      <%= t('commmits.index.statuses.finished') %> 
    <% elsif commmit.not_started? %>
      <%= t('commmits.index.statuses.not_started') %> 
    <% else %>
      <%= t('commmits.index.statuses.in_progress') %> 
    <% end %>
    <span data-relative-time-target="relativeTime commmit" title="<%= commmit.end_date %>"><%= commmit.end_date %></span>
  </i>
</small>
