<div class="card">
  <div class="card-body">
    <h5 class="card--goal">
      <%= t('stories.form.goal.label') %> <%= story.goal %><% if story.reason.present? %>,<% end %>
    </h5>
    <% if story.reason.present? %>
      <h6 class="card--reason">
        <%= t('stories.form.reason.label') %> <%= story.reason %>.
      </h6>
    <% end %>
    <div>
      <%= render partial: 'tags/tag', collection: story.tags %>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer__left">
    </div>
    <div class="card-footer__right">
      <%= form_for PlannedStory.new do |f| %>
        <%= f.hidden_field :commmit_id, value: @commmit.id %>
        <%= f.hidden_field :story_id, value: story.id %>
        <%= f.submit t('commmits.show.add_story'), class: 'text-success link-button' %>
      <% end %>
    </div>
  </div>
</div>