<div class="card">
  <div class="card-body">
    <h5 class="card--goal">
      <%= t('stories.form.goal.label') %> <%= story.goal %><% if story.reason.present? %>,<% end %>
    </h5>
    <% if story.reason.present? %>
      <h6 class="card--reason">
        <%= t('stories.form.reason.label') %> <%= story.reason %>.
      </h6>
    <% end %>
    <div class="mt-1">
      <%= render partial: 'values/value', collection: story.values.filter{|v| v.discarded_at.nil? } %>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer__left">
      <small><i><%= completed_or_added(story) %></i></small>
    </div>
    <div class="card-footer__right">
      <%= form_with model: [story, PlannedStory.new] do |f| %>
        <%= f.hidden_field :commmit_id, value: @commmit.id %>
        <%= button_tag class: 'btn btn-link d-inline-flex align-middle', style: 'align-items: center', name: 'add', type: 'submit' do %>
          <%= render('shared/icons/add_icon', classes: 'mr-2 text-success') %> Add
        <% end %>
      <% end %>
    </div>
  </div>
</div>