<%= turbo_frame_tag 'commmit_goal' do %>
  <div class="card">
    <div class="card-body">
      <h5 class="card--goal">
        <%= t('stories.form.goal.label') %> <%= @commmit_goal.goal %><% if @commmit_goal.reason.present? %>,<% end %>
      </h5>
      <% if @commmit_goal.reason.present? %>
        <h6 class="card--reason">
          <%= t('stories.form.reason.label') %> <%= @commmit_goal.reason %>.
        </h6>
      <% end %>
      <div class="mt-1">
        <%= render partial: 'values/value', collection: @commmit_goal.values.filter{|v| v.discarded_at.nil? } %>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer__left">
        <%= render 'shared/story_status', story: @commmit_goal %>
      </div>
      <div class="card-footer__right">
        <%= button_tag class: 'btn btn-link d-inline-flex align-middle', 
                        style: 'align-items: center', 
                        name: 'choose',
                        data: { action: 'click->commmit#chooseGoal' },
                        id: @commmit_goal.id,
                        type: 'button' do %>
          <%= image_tag '/images/icons/add_icon.svg', class: 'mr-2 text-success' %> Choose
        <% end %>
      </div>
    </div>
  </div>
<% end %>