<% content_for :nav_header do %>
  <%= t('footer_nav.left_button') %>
<% end %> 

<div class="grid-content">
  <% if @commmits.empty? %>
    <p class="text-center text-secondary mt-2"><%= t('commmits.index.no_commmits_yet') %></p>
  <% end %>
  <div class="card-deck">
    <% @commmits.each do |commmit| %>
      <%# TODO: If this is a one/two day commmit then show a progress bar, if it is more than two days, show a burndown chart %>
      <div class="card" style="<%= commmit.finished? ? "opacity: 50%" : "" %>">
        <%= render 'shared/progress', commmit: commmit %>

        <div class="card-body">
          <h6><b><%= link_to commmit.name, commmit_path(commmit) %></b></h6>
        </div>
        <div class="card-footer">
          <%= render 'commmits/status', commmit: commmit %>
          <div class="ml-2">
            <%= image_tag asset_pack_path 'media/images/clock_icon.svg' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/actions", actions: [{ label: t('commmits.index.new_commmit'), path: new_commmit_path }] %>