<% content_for :nav_header do %>
  <%= t('commmits.index.header') %>
<% end %> 

<div class="grid-content">
  <p class="text-center text-secondary mt-2">
    <% if @page.first? && @page.records.empty? %>
      <%= t('commmits.index.no_commmits_yet') %>
    <% elsif !Commmit.active_commmits? %>
      <%= t('commmits.alert.no_commmits_today') %>
    <% end %>
  </p>

  <div class="card-deck">
    <% cache [Commmit.current.first, @page.records] do %>
      <%= turbo_frame_tag "commmits-#{@page.number}" do %>
        <%= render partial: "commmit", collection: @page.records %>
      <% end %>

      <%= turbo_frame_tag "commmits-#{@page.next_param}" do %>
        <% unless @page.last? %>
          <%= link_to "Load More", commmits_path(page: @page.next_param), class: 'btn btn-lg btn-light btn-block mb-4' %>
        <% end %>
      <% end %>
    <% end %>

    <%= render "shared/actions", actions: [{ label: t('commmits.index.new_commmit'), path: new_commmit_path }] %>
  </div>
</div>