<% content_for :nav_header do %>
  Commmits
<% end %> 

<div class="grid-content">
  <% if @commmits.empty? %>
    <p class="text-center text-secondary mt-2">You haven't created any Commmits yet</p>
  <% end %>
  <div class="card-deck">
    <% @commmits.each do |commmit| %>
      <%# TODO: If this is a one/two day commmit then show a progress bar, if it is more than two days, show a burndown chart %>
      <div class="card" style="<%= commmit.finished? ? "opacity: 50%" : "" %>">
        <%= render 'shared/progress', commmit: commmit %>

        <div class="card-body">
          <h6><b><%= link_to commmit.name, commmit_path(commmit) %></b></h6>
        </div>
        <div class="card-footer">
          <% if commmit.finished? %>
            <small>
              <i>
                Finished <%= distance_of_time_in_words(commmit.end_date, Date.today, scope: 'datetime.distance_in_words.days_and_months')%>.
              </i>
            </small>
          <% elsif commmit.in_progress? %>
            <small>
              <i>
                Finishes <%= distance_of_time_in_words(commmit.end_date, Date.today, scope: 'datetime.distance_in_words.days_and_months_future')%>.
              </i>
            </small>
          <% elsif commmit.not_started? %>
            <small>
              <i>
                Starts <%= distance_of_time_in_words(commmit.start_date, Date.today, scope: 'datetime.distance_in_words.days_and_months_future')%>.
              </i>
            </small>
          <% end %>
          <div class="ml-2">
            <%= image_tag asset_pack_path 'media/images/clock_icon.svg' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/actions", actions: [{ label: 'New Commmit', path: new_commmit_path }] %>