<% content_for :nav_header do %>
  <%= t('commmits.new.header') %>
<% end %> 

<div class="grid-content" data-controller="commmit">
  <%= form_with model: @commmit, html: { class: 'flex-form', data: { turbo: false } } do |f| %>
    <%= render 'fields', f: f %>

    <div class="form-group form-actions"> 
      <%= f.submit t('commmits.form.create'), class: "btn btn-lg btn-success btn-block" %>
      <%= link_to t('commmits.form.cancel'), commmits_path, class: "btn btn-lg btn-secondary btn-block" %>
    </div>
  <% end %>

  <%= render 'stories/choose_commmit_goal/modal' %>
</div>

<% content_for(:hide_footer_nav?) do %>
  true
<% end %>