<% content_for :nav_header do %>
  <%= @commmit.name %>
<% end %> 

<div class="grid-topcontent">
  <%= render 'shared/progress', commmit: @commmit %>
</div>

<div class="grid-content">
  <% if @commmit.stories.empty? %>
    <p class="text-center text-secondary mt-2"><%= t('commmits.show.no_stories_yet') %></p>
  <% end %>

  <div class="card-deck">
    <%= render partial: 'planned_story', collection: @commmit.planned_stories, locals: { commmit: @commmit } %>
  </div>
</div>

<div class="grid-actions">
  <%= button_tag class: "btn btn-lg btn-primary btn-block", disabled: @commmit.finished?, data: { toggle: "modal", target: "#addStoriesModal" } do %>
    <%= @commmit.finished? ? t('commmits.show.finished') : t('commmits.show.add_stories') %> 
  <% end %>
</div>

<!-- Modal -->
<%= render 'add_stories', one_off_stories: @one_off_stories, repeatable_stories: @repeatable_stories, commmit: @commmit %>