<% content_for :nav_header do %>
  <%= @commmit.name %>
<% end %> 

<div class="grid-topcontent">
  <%= render 'shared/progress', commmit: @commmit %>
</div>

<div class="grid-content">
  <% if @commmit.stories.empty? %>
    <p class="text-center text-secondary mt-2"><%= t('commmits.show.no_stories_yet') %></p>
  <% end %>
  <div class="card-deck">
    <% @commmit.planned_stories.each do |planned_story| %>
      <%= render 'planned_story', planned_story: planned_story %>
    <% end %>
  </div>
</div>


<div class="grid-actions">
  <button type="button" class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#addStoriesModal">
    <%= t('commmits.show.add_stories') %>
  </button>
</div>

<!-- Modal -->
<%= render 'add_stories', one_off_stories: @one_off_stories, repeatable_stories: @repeatable_stories, commmit: @commmit %>