<% content_for :nav_header do %>
  <%= @commmit.name %>
<% end %> 

<% content_for :productivity do %>
  <%= completed_planned_stories(@commmit) %> 
<% end %>

<div class="grid-topcontent">
  <%= render 'shared/progress', total_count: (@planned_stories.size + @completed_stories.size), completed_count: @completed_stories.size %>
</div>

<div class="grid-content">
  <% if @planned_stories.empty? && @completed_stories.empty? %>
    <p class="text-center text-secondary mt-2"><%= t('commmits.show.no_stories_yet') %></p>
  <% elsif @planned_stories.empty? && !@completed_stories.empty? %>
    <p class="text-center text-secondary mt-2"><%= t('commmits.show.no_stories_left') %></p>
  <% end %>

  <div class="card-deck" data-container="planned_stories">
    <%= turbo_frame_tag "planned_stories" do %>
      <%= render partial: 'planned_story', collection: @planned_stories, locals: { commmit: @commmit } %>

      <%= content_tag :div, class: "divider" do %>
        <div class="dropdown-divider"></div>

        <small><%= t('commmits.show.done_divider') %></small>
        
        <div class="dropdown-divider"></div>
      <% end if !@completed_stories.empty? %>
    
      <%= render partial: 'planned_story', collection: @completed_stories, locals: { commmit: @commmit } %>
    <% end %>

    <div class="page-actions">
      <%= link_to new_commmit_path, class: "btn btn-lg btn-primary btn-block" do %>
        <%= t('commmits.index.new_commmit') %> 
      <% end if @commmit.no_active_commmits? %>
      <%= button_tag class: "btn btn-lg btn-primary btn-block", disabled: @commmit.reflected?, data: { toggle: "modal", target: "#addStoriesModal" } do %>
        <%= @commmit.reflected? ? t('commmits.show.finished') : t('commmits.show.add_stories') %> 
      <% end %>
    </div>
  </div>
</div>

<%= render 'commmits/add_stories/modal', one_off_stories_page: @one_off_stories_page, repeatable_stories_page: @repeatable_stories_page, story: @story, commmit: @commmit %>