<div class="modal fade" id="addStoriesModal" tabindex="-1" aria-labelledby="addPlanModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render 'commmits/add_stories/modal_header' %>
      <div class="modal-body">
        <div class="tab-content modal-tab-content" id="storiesTabContent">
          <div class="tab-pane fade show active" 
               id="<%= t('stories.form.repeatable.once') %>" 
               role="tabpanel" 
               aria-labelledby="<%= t('stories.form.repeatable.once') %>-tab">
            <div class="card-deck">
              <% if one_off_stories_page.first? && one_off_stories_page.records.empty? %>
                <p class="text-center text-secondary mt-2">
                  <%= link_to t('stories.index.no_stories_yet'), new_story_path %>
                </p>
              <% end %>

              <%= turbo_frame_tag "add_one_off_stories-#{one_off_stories_page.number}" do %>
                <%= render partial: "commmits/add_stories/story", collection: one_off_stories_page.records %>
              <% end %>

              <%= turbo_frame_tag "add_one_off_stories-#{one_off_stories_page.next_param}" do %>
                <% unless one_off_stories_page.last? %>
                  <%= link_to "Load More", commmit_path(commmit, page: one_off_stories_page.next_param), class: 'btn btn-lg btn-light btn-block mb-4' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" 
               id="<%= t('stories.form.repeatable.forever').gsub(' ', '-') %>" 
               role="tabpanel" 
               aria-labelledby="<%= t('stories.form.repeatable.forever').gsub(' ', '-') %>-tab">
            <div class="card-deck">
              <% if repeatable_stories_page.first? && repeatable_stories_page.records.empty? %>
                <p class="text-center text-secondary mt-2">
                  <%= link_to t('stories.index.no_stories_yet'), new_story_path %>
                </p>
              <% end %>

              <%= turbo_frame_tag "add_repeatable_stories-#{repeatable_stories_page.number}" do %>
                <%= render partial: "commmits/add_stories/story", collection: repeatable_stories_page.records %>
              <% end %> 

              <%= turbo_frame_tag "add_repeatable_stories-#{repeatable_stories_page.next_param}" do %>
                <% unless repeatable_stories_page.last? %>
                  <%= link_to "Load More", commmit_path(commmit, page: repeatable_stories_page.next_param), class: 'btn btn-lg btn-light btn-block mb-4' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" 
               id="<%= t('stories.index.new_story').gsub(' ', '-') %>" 
               role="tabpanel" 
               aria-labelledby="<%= t('stories.index.new_story').gsub(' ', '-') %>-tab">
            <%= render 'commmits/add_stories/form', commmit: commmit %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('commmits.show.close_modal') %></button>
      </div>
    </div>
  </div>
</div>