<%= render 'shared/errors', object: story %>

<%= form_with model: story, url: create_from_commmit_path, html: { class: 'flex-form' } do |f| %>
  <%= hidden_field_tag :commmit_id, commmit.id %>
  <div class="form-content" data-controller="stories">
    <%= render 'stories/fields', f: f, story: story %>
  </div>
  
  <div class="form-actions">
    <%= f.submit t('stories.form.create_and_add'), class: "btn btn-lg btn-success btn-block" %>
  </div>
<% end %>