<div class="card mb-4">
  <h5 class="card-header"><%= retro.user.name %></h5>
  <div class="card-body">
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :role_happiness %>
        <%= f.text_field :role_happiness, { class: 'form-control', type: :number, step: '0.01', max: 5, min: 1, disabled: (:disabled if retro.id), required: :required } %>
        <%= f.hidden_field :user_id, value: retro.user.id %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :team_happiness %>
        <%= f.text_field :team_happiness, { class: 'form-control', type: :number, step: '0.01', disabled: (:disabled if retro.id) } %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :company_happiness %>
        <%= f.text_field :company_happiness, { class: 'form-control', type: :number, step: '0.01', max: 5, min: 1, disabled: (:disabled if retro.id), required: :required } %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :feedback %>
        <%= f.text_area :feedback, class: 'form-control', required: true, disabled: (:disabled if retro.id) %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :happiness_goal %>
        <%= f.text_area :happiness_goal, class: 'form-control', required: true, disabled: (:disabled if retro.id) %>
      </div>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-success' unless retro.id %>
  </div>
</div>