<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{ActsAsTenant.current_tenant&.name} - " if ActsAsTenant.current_tenant %>Commmit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <div class="container mt-4">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
