<!DOCTYPE html>
<html>
  <head>
    <title>Commmit - Commmit's goal is to allow people to take back control of their time and productivity; to focus on the things that matter to them, through reflection and continuous improvement.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= preload_pack_asset 'media/application/fonts/lato-v17-latin-300.woff2' %>
    <%= preload_pack_asset 'media/application/fonts/lato-v17-latin-regular.woff2' %>
    <%= stylesheet_pack_tag 'static_page' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
